<section id="evenMorePart2">
    <div id="part2" class="row">
        <h3 class="page-title">Fun Facts</h3>
    </div>
    <div class="row">
        <blockquote class="text-muted" rv-setcssforinputvalue="vm.mapContainer">
            <p>In 1229 the Order began the conquest of Prussia, founding fortresses at each step to <em>rivet</em> its conquests (for instance, at Thorn, named after Toron in Palestine), much as the AngloNormans had done in their conquest of Wales.</p>
        </blockquote>
    </div>
    <div class="row">
        <blockquote class="text-muted bg-info">
            <p>There is usually fixed above the sucker a short iron valverod, with a device known as a <em>rivet-catcher</em> to prevent damage to the pump by the dropping of <em>rivets</em> from the pump-rods.</p>
        </blockquote>
    </div>
    <div class="row">
        <blockquote class="text-muted bg-info">
            <p>Again, the physician as naturalist, though stimulated by the pathologist to delineate disease in its fuller manifestations, yet was hampered in a measure by the didactic method of constructing "types" which should command the attention of the disciple and <em>rivet</em> themselves on his memory; thus too often those incipient and transitory phases which initiate the paths of dissolution were missed.</p>
        </blockquote>
    </div>
    <div class="row" rv-haspermission="vm.goodPermission">
        <blockquote class="text-muted bg-info">
            <p>The lieutenant explained how to <em>rivet</em> the hoof and went away to his own quarters.</p>
        </blockquote>
    </div>
    <div class="row" rv-haspermission="vm.badPermission">
        <blockquote class="text-muted bg-info">
            <p>This is something to which you do not have permission. You will not see it!</p>
        </blockquote>
    </div>
    <div class="row">
        <blockquote class="text-muted bg-info">
            <footer>Rivet Sentence Examples - <a href="http://sentence.yourdictionary.com/rivet">Your Dictionary</a></footer>
        </blockquote>
    </div>
</section>
