<section id="home">
    <h2 class="page-title text-center" rv-text="vm.title"></h2>
    <input type="button" rv-class-btn-info="vm.doNotShowQuestion" rv-class-btn-warning="vm.showQuestion" rv-on-click="vm.clickToggle" rv-value="vm.toggle" rv-placeholder="vm.toggleOptions[0]" />
    <div class="row divider"><p></p></div>
    <div class="row divider"><p></p></div>
    <div class="row center-block " rv-show="vm.showQuestion">
        <div class=" col-sm-2 col-md-4 col-lg-4"></div>
        <div class="col-xs-1 col-sm-2 col-md-8 col-lg-8">
            <select id="question" class="text-primary text-center">
                <option class="text-primary text-center" rv-each-option="vm.questionOptions" rv-value="option.id">{ option.value }</option>
            </select>
        </div>
    </div>
    <div class="row divider"><p></p></div>
    <div class="row" rv-hide="vm.showQuestion">
        <div class="col-lg-12">
            <blockquote class="text-muted bg-info">
                <p>
                    A rivet is <strong class="text-uppercase">a permanent mechanical fastener</strong>. Before being installed, a rivet consists of a smooth cylindrical shaft with a head on one end. The end opposite the head is called the tail. On installation the rivet is placed in a punched or drilled hole, and the tail is upset, or bucked (i.e., deformed), so that it expands to about 1.5 times the original shaft diameter, holding the rivet in place. In other words, pounding creates a new "head" on the other end by smashing the "tail" material flatter, resulting in a rivet that is roughly a dumbbell shape. To distinguish between the two ends of the rivet, the original head is called the factory head and the deformed end is called the shop head or buck-tail.
                </p>
                <footer>Rivet - <a href="https://en.wikipedia.org/wiki/Rivet">Wikipedia</a></footer>
            </blockquote>
        </div>
    </div>
</section>