<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">-->
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <link href="../../Content/app.css" rel="stylesheet"/>
    <link href="../../Content/durandal.css" rel="stylesheet"/>
    <link href="../../Content/bootstrap-theme.css" rel="stylesheet"/>
</head>
<body>
<div id="applicationHost">
</div>
<script src="../../Scripts/jquery-1.9.1.js"></script>
<script src="../../Scripts/knockout-3.1.0.debug.js"></script>
<script src="../../Scripts/rivets.bundled.min.js"></script>
<script src="../../Scripts/require.js" data-main="/App/main"></script>
</body>
</html>
