<section>
    <div class="row">
        <h2 class ="page-title text-center">More About Rivets</h2>
    </div>
    <div id="types" class="row">
        <h3 rv-text="types.title"></h3>
        <blockquote class="text-muted bg-info">
            <p>
                <h4>Solid/round head rivets</h4>
                A typical technical drawing of a universal head solid rivet
                Solid rivets are one of the oldest and most reliable types of fasteners, having been found in archaeological findings dating back to the Bronze Age. Solid rivets consist simply of a shaft and head that are deformed with a hammer or rivet gun.
            </p>
            <p>
                <h4>Semi-tubular rivets</h4>
                A typical technical drawing of an oval head semi-tubular rivet
                Semi-tubular rivets (also known as tubular rivets) are similar to solid rivets, except they have a partial hole (opposite the head) at the tip. The purpose of this hole is to reduce the amount of force needed for application by rolling the tubular portion outward.
            </p>
            <footer>Rivet - <a href="https://en.wikipedia.org/wiki/Rivet">Wikipedia</a></footer>
        </blockquote>
    </div>
    <div id="uses" class="row">
        <h3 rv-text="uses.title"></h3>
            <blockquote class="text-muted bg-info">
                <p>
                    Before welding techniques and bolted joints were developed, metal framed buildings and structures such as the Eiffel Tower, Shukhov Tower and the Sydney Harbour Bridge were generally held together by riveting. Also automobile chassis were riveted. Riveting is still widely used in applications where light weight and high strength are critical, such as in an aircraft. Many sheet-metal alloys are preferably not welded as deformation and modification of material properties can occur.
                    Rivets were also used in many tanks during World War II by a large number of countries including the M3 Lee (General Grant) manufactured in the United States. However, many countries soon learned that rivets were a large weakness in tank design, since if a tank was hit by a large projectile it would dislocate the rivets and they would fly around the inside of the tank and injure or kill the crew, even if the projectile didn't penetrate the armor. Some countries such as Italy, Japan, and Britain used rivets in some or all of their tank designs throughout the war for various reasons, such as lack of welding equipment or inability to weld very thick plates of armor effectively.
                    Blind rivets are used almost universally in the construction of plywood road cases.
                    Common but more exotic uses of rivets are to reinforce jeans and to produce the distinctive sound of a sizzle cymbal.
                </p>
                <footer>Rivet - <a href="https://en.wikipedia.org/wiki/Rivet">Wikipedia</a></footer>
            </blockquote>
    </div>
</section>